@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Commissioner', sans-serif;
  }

  a {
    @apply text-black no-underline transition-colors duration-200;
  }
  a:visited {
    @apply text-black;
  }
  a:hover, a:focus {
    /* Using yellow-600 for better contrast */
    @apply text-yellow-600 underline;
  }
}
}
