---
// ...existing code...
---

<nav class="py-4 px-6 bg-gray-100 border-b flex gap-4">
  <a href="/" class="font-bold text-lg">Home</a>
  <a href="/recipes/shiitake-umami-burger">Shiitake Umami Burger</a>
  <a href="/recipes/gnocchi-amatriciana">Gnocchi Amatriciana</a>
</nav>
