<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Gnocchi</title>
		<link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600;700&display=swap" rel="stylesheet">
	</head>
	<body style="font-family: 'Commissioner', sans-serif;" class="min-h-screen flex flex-col">
		<slot name="nav" />
		<main class="flex-1">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
